.App {
  text-align: center;
}

.bg-1 {
  background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-2 {
  background-image: url('https://picsum.photos/seed/picsum/800/1000');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-3 {
  background-image: url('https://picsum.photos/800');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link {
  text-decoration: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
